.code-line-number {
  padding: 0 8px;
}

.code-line-number:hover {
  background-color: #1d1f21; 
}

x-code pre {
  display: flex;
  flex: 1;
}

x-code pre code.hljs {
  flex: 1;
  padding: 0;
  padding-left: 12px;
}

.code-line-numbers,
x-code pre code.hljs {
  font-size: 14px;
  padding-top: 8px;
}
